services:
  database:
    build: ./database
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_INITDB_CHARSET: utf8mb4
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: simple_mall
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Shanghai
    ports:
      - "3307:3306"
    volumes:
      - ./database/data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot_password"]
      timeout: 20s
      retries: 10
    networks:
      - my-app-network

  backend:
    build: ./backend
    restart: always
    environment:
      JAVA_OPTS: -Dfile.encoding=UTF-8
      DB_HOST: database
      DB_PORT: 3306
      DB_NAME: simple_mall
      DB_USERNAME: user
      DB_PASSWORD: password
    ports:
      - "8081:8081"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - my-app-network

  frontend:
    build: ./frontend
    container_name: frontend-web
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - my-app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - my-app-network

networks:
  my-app-network:
    driver: bridge